  <html>
    <head>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>tinymce.init({ selector:'textarea',file_browser_callback: function(field_name, url, type, win) {
    win.document.getElementById(field_name).value = 'my browser value';
  }});</script>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" href="CSS/Blog.css" rel="stylesheet">
      <link rel=icon href="thing.png">
      <title>Admin</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                      <a class='dropdown-button' href='#' data-activates='dropdown1'> games </a>
                      <ul id='dropdown1' class='dropdown-content'>
                          <li><a href="Snake game/snake.html" target="_blank">snake</a></li>
                      </ul>

                    <ul class="right">
                        <li><a href="index.html">Home <span class="new badge"><script id="poststoday-template" type="text/x-handlebars-template">{{poststoday}}</script></span></a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                <h1 class="center-align">Blue Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div>
                <p><a href="#"><span class="white-text">back to the top</span></a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    C 2016 Sami
                </div>
            </div>
        </footer>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src ="libs/backendless.js"></script>
      <script type="text/javascript" src ="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      <script>tinymce.init({ selector:'textarea' });</script>
      
      <script id="login-template" type="text/x-handlebars-template">
                <div class="col s6">
          <h2 class="conter-align"></h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                      <label for="password">password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">login</button>                      
                          </p>
                      </div>
                  </div>
              </form>
      <form class="col s12 form-signup">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                      <label for="password">password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">signup</button>                      
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </script>
      <script id="welcome-template" type="text/x-handlebars-template">
          <h2>Welcome, {{email}}</h2>
          <button class="btn btn-large waves-effect waves-light add-blog" type="submit" name="action">Add a new post</button>
      <button class="btn btn-large waves-effect waves-light logout" type="submit" name="action">Logout</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
          <h2>Add a new post</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="text">Title</label>
                  </div>
              </div> <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="contecnt" class="materailize-textarea">
                      Message
                      </textarea>
                      <label for="content"></label>
                  </div>
              </div> <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit"name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
    </body>
  </html>